@media(min-width:601px){
  /*===========SLIDE================*/
  /*#slide{
    border:1px solid red;
    height:500px;
    width:100%;
    background-color:#000;
    position:relative;
  }*/
  #bLeft, #bRight{
    /* position:absolute; */
    z-index:5;
    background-color:rgba(0,0,0,.5);
    width:70px;
    height:100%;
    color:#fff;
    /* opacity:0; */
  }
  /*#bLeft:hover{
    opacity:1;
    transition:1s;
  }
  #bRight:hover{
    opacity:1;
    transition:1s;
  }
  #bLeft{
     left:0;
  }*/
  #bRight{
    /* right:0; */
  }
  #marcadores{
    /* background-color:#000; */
    /* width:100%; */
  }
  #marcadores li{
    /* background-color:rgb(184, 46, 46); */
    /* border-radius:50%; */
    /* height:15px; */
    /* width:15px; */
  }

  /* Declaramos alturas, devido ao posicionamento do elemento img */
  .carousel-item {
    height: 480px;
  }
  .carousel-item > img {
    width: 100%;
    height:100%;
  }
  /*============FIM SLIDE=============*/
}
/*===========SLIDE RESPONSIVE================*/
@media(max-width:600px){
  #slide{
    margin-top:-55px;
  }
  #slide img{
    /* border:1px solid blue; */
    width:100%;
    height:100%;
  }
  .slide{
    /* border:1px solid red; */
    height:400px;
  }

}
/* ========FIM SLIDE RESPONSIVE===========*/
