*{
  margin:0;
  border:0;
  padding:0;
  box-sizing:border-box;
}
@media(min-width:600px){
/*============CSS menu.php=========*/
.barrasResp, .respSearch, .respFast, .menuLateral, .respCat{
  display:none;
}
.menu{
  background-color:#000;
  height:50px;
  color:#fff;
  /* height:40px; */
}
.submenu{
  background-color:rgb(242, 242, 242);
}
.pesquisar{
  border-radius:0px 5px 5px 0px;
  background-color:rgb(184, 46, 46);
  color:#fff;
  width:40px;
  cursor:pointer;
  /* margin-top:2px; */
}
.buscar{
  /* background-color:red; */
  /* position:absolute; */
  /* margin-top:2px; */
  /* border-radius:5px 0px 0px 5px; */
}
#linkUser{
  color:#fff;
}
/*.cadLogin{
  margin-top:11px;
}*/
/* #carrinhoLogo{
  width:25px;
}*/
#divCarrinho{
  border:1px solid #fff;
  height:40px;
  width:80px;
  margin-right:20px;
  border-radius:5px;
}
#linkCarrinho{
  color:#fff;
}
/*========FIM CSS menu.php===========*/

/*===========SLIDE================*/
/*#slide{
  border:1px solid red;
  height:500px;
  width:100%;
  background-color:#000;
  position:relative;
}*/
#bLeft, #bRight{
  /* position:absolute; */
  z-index:5;
  background-color:rgba(0,0,0,.5);
  width:70px;
  height:100%;
  color:#fff;
  /* opacity:0; */
}
/*#bLeft:hover{
  opacity:1;
  transition:1s;
}
#bRight:hover{
  opacity:1;
  transition:1s;
}
#bLeft{
   left:0;
}*/
#bRight{
  /* right:0; */
}
#marcadores{
  /* background-color:#000; */
  /* width:100%; */
}
#marcadores li{
  /* background-color:rgb(184, 46, 46); */
  /* border-radius:50%; */
  /* height:15px; */
  /* width:15px; */
}

/* Declaramos alturas, devido ao posicionamento do elemento img */
.carousel-item {
  height: 480px;
}
.carousel-item > img {
  width: 100%;
  height:100%;
}



/* ========CSS RESPONSIVE DO SLIDE===========*/


@media (min-width: 40em) {
  /* Aumenta o tamanho do conteúdo do carousel */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
/*============FIM SLIDE=============*/

/*==========CONTEUDO.PHP=========*/

/*==========FIM COTEUDO==========*/
}

/*=============RESPONSIVIDADE==========*/
@media (max-width:600px) {
/*=====MENU RESPONSIVO=====*/
  .menu{
    background-color:#000;
    height:50px;
    color:#fff;
    /* height:40px; */
  }
  .logo{
    display:none;
  }
  .respDisplay{
    display:none;
  }
  .respFast{

  }
  .respWeb{
    color:red;
  }
  .submenu{

  }
  .barrasResp{

  }
  .pesquisar{
    display:none;
  }
  #linkUser{

  }
  .cadLogin{

  }
  #carrinhoLogo{
    width:25px;
  }
  .respSearch{
    margin-right:-45px;
  }
  #divCarrinho{
    margin-right:15px;
  }
  #linkCarrinho{
    color:#fff;
  }
  .menuLateral{
    position:absolute;
    width:35%;
    height:600px;
    background-color:#000;
    color:#fff;
    z-index:999;
    display:none;
  }
  .respCat{
    border:1px solid blue;
    width:100%;
  }
  /*=====FIM RESPONSIVE MENU=====*/

  /*===========SLIDE RESPONSIVE================*/
  #slide{
    display:none;
  }
  /* ========CSS RESPONSIVE DO SLIDE===========*/
}
/*===============FIM RESPONSIVIDADE=========*/
